<div class="container mt-5">
  <h3>Kayıt Ol</h3>
  <form [formGroup]="registerForm" (submit)="submit()">
    <div class="mb-3">
      <myinput
        labelId="email"
        label="E-posta Adresi"
        inputType="email"
        controlName="email"
      />
    </div>
    <div class="mb-3">
      <myinput
        labelId="password"
        label="Şifre"
        inputType="password"
        controlName="password"
      />
    </div>
    <div class="mb-3">
      <myinput
        labelId="passwordConfirm"
        label="Şifre Tekrar"
        inputType="password"
        controlName="passwordConfirm"
      />
    </div>
    <button
      [disabled]="!registerForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
