<div class="container mt-5">
  <h3>Kayıt Ol</h3>
  <form>
    <div class="mb-3">
      <myinput label="Ad" labelId="name" />
    </div>
    <div class="mb-3">
      <myinput label="Soyad" labelId="surname" />
    </div>
    <div class="mb-3">
      <myinput label="E-posta" labelId="email" inputType="email" />
    </div>
    <div class="mb-3">
      <myinput label="Şifre" labelId="password" inputType="password" />
    </div>
    <div class="mb-3">
      <myinput
        label="Şifre Tekrarı"
        labelId="passwordConfirm"
        inputType="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
